.artwork-title {
	padding-top: 55px;
}
.artwork-content {
  margin-top: 5px;
}
.artwork {
	display: flex;
 	flex-direction: column;
	margin: 0 20px;
}
.artwork-item {
  margin-top: 15px;
}
.artwork-item {
  img {
    max-width: 780px;
  }
}