@import url('https://fonts.googleapis.com/css?family=Oswald|Source+Sans+Pro');
@import 'components/style';
@import 'routes/Gallery/style';
@import 'routes/Artwork/style';
@import 'routes/About/style';

html, body {
  min-height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  font-family: 'Source Sans Pro';
}
a {
  text-decoration: none;
  color: inherit;
}

.title{
	font-size: 19px;
}

.content{
  margin-top: 5px;
	font-size: 15px;
	color: #6f6f6f;
}

.main {
  flex: 1;
  padding-top: 50px;
}

