.gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.gallery-col {
  margin: 0 8px;
}
.gallery-item {
  width: 240px;
  margin-top: 10px;

  position: relative;
}
.gallery-item__overlay {
  position: absolute;
  top: 40%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  color: #3e3e3e;
  font-family: 'Oswald';
  font-size: 24px;
}
.gallery-item:hover {
  .gallery-item__overlay {
    opacity: 1;
  }
}
.gallery-item:hover {
  img {
    opacity: .3;
  }
}
.gallery-item {
  img {
    max-width: 100%;
  }
}
