header {
  font-size: 42px;
  font-weight: 300;
  font-family: 'Oswald';
  padding-top: 50px;
}

nav {
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding-top: 15px;
}

nav {
  .nav-item {
    width: 60px;
  }
}
